span {
  width: 500px;
  height: 200px;
  background-color: yellow;
  display: inline;
}
div {
  display: inline;
}
img {
  display: block;
}

p {
  outline: 1px solid green;
  display: inline-block;
  margin: 100px 1px;
}
#a{
    background-color: red;
    font-size: 32px;
}